nav.navbar, button{
    background:#f2bf35;
}

nav.navbar a {
    color:black;
}

main {
    padding-top: 25px;
}

#CurrentFood, #vis1, #vis2 {
    margin-top:25px;
}

.ui-widget-header, .saveButton{
    background: #f2bf35;
}

.saveButton {
    float: left;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background: #c3c3c3;
    border-radius:25px;
    padding:10px;
    font-size:.65em;
}

#vis1 {
    width: 50%;
}

#vis1 > svg > g {
    width: 100%;
}