<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--jQuery-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--Popper for Bootstrap because webstorm doesnt add it automatically-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
    <!--jQuery UI-->
    <link href="/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="/jquery-ui-1.12.1/jquery-ui.js"></script>
    <!--DataTables-->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="/js/script.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ComeUpWithAName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="col-md-2 offset-md-1">
            <div class="row">
                <button id="AddFood">
                Add Food
            </button>
            </div>
        </div>
        <div class="col-md-6" style="text-align:center">
            <h2>Explore the Menu</h2>
        </div>
        <div id="FoodModal">
            <table id="AllFood">
                <thead>
                    <tr>
                        <th style="width:5%"></th>
                        <th style="width:25%">Item</th>
                        <th style="width:13%">Category</th>
                        <th style="width:15%">Serving Size</th>
                        <th style="width:7%">Calories</th>
                        <th style="width:7%">Total Fat</th>
                        <th style="width:7%">Cholesterol</th>
                        <th style="width:7%">Sodium</th>
                        <th style="width:7%">Sugars</th>
                        <th style="width:7%">Protein</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-10 offset-md-1" style="margin-top:15px">
            <table id="CurrentFood">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Category</th>
                        <th>Serving Size</th>
                        <th>Calories</th>
                        <th>Total Fat</th>
                        <th>Cholesterol</th>
                        <th>Sodium</th>
                        <th>Sugars</th>
                        <th>Protein</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-10 offset-md-1" id="plot">
        </div>
        <div class="col-md-10 offset-md-1" id="scatterFilter">
            <div class="row">
                <div class="col-md-4">
                    <label for="yLabel">Y-Label:</label>
                    <select id="yLabel" name="yLabel">
                        <option value="calories">Calories</option>
                        <option value="caloriesFat">
                            Calories from Fat
                        </option>
                        <option value="fat">Fat</option>
                        <option value="fatPercent">Fat %dv</option>
                        <option value="saturatedFat">Saturated Fat</option>
                        <option value="saturatedPercent">Saturated Fat %dv</option>
                        <option value="transFat">Trans Fat</option>
                        <option value="cholesterol">Cholesterol</option>
                        <option value="cholesterolPercent">Cholesterol %dv</option>
                        <option value="sodium">Sodium</option>
                        <option value="sodiumPercent">Sodium %dv</option>
                        <option value="carbs">Carbohydrates</option>
                        <option value="carbPercent">Carbohydrates %dv</option>
                        <option value="fiber">Fiber</option>
                        <option value="fiberPercent">Fiber %dv</option>
                        <option value="sugar">Sugar</option>
                        <option value="protein">Protein</option>
                        <option value="vitaminA">Vitamin A</option>
                        <option value="vitaminC">Vitamin C</option>
                        <option value="calcium">Calcium</option>
                        <option value="iron">Iron</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="xLabel">X-Label:</label>
                    <select id="xLabel" name="xLabel">
                        <option value="calories">Calories</option>
                        <option value="caloriesFat">
                            Calories from Fat
                        </option>
                        <option value="fat">Fat</option>
                        <option value="fatPercent">Fat %dv</option>
                        <option value="saturatedFat">Saturated Fat</option>
                        <option value="saturatedPercent">Saturated Fat %dv</option>
                        <option value="transFat">Trans Fat</option>
                        <option value="cholesterol">Cholesterol</option>
                        <option value="cholesterolPercent">Cholesterol %dv</option>
                        <option value="sodium">Sodium</option>
                        <option value="sodiumPercent">Sodium %dv</option>
                        <option value="carbs">Carbohydrates</option>
                        <option value="carbPercent">Carbohydrates %dv</option>
                        <option value="fiber">Fiber</option>
                        <option value="fiberPercent">Fiber %dv</option>
                        <option value="sugar">Sugar</option>
                        <option value="protein">Protein</option>
                        <option value="vitaminA">Vitamin A</option>
                        <option value="vitaminC">Vitamin C</option>
                        <option value="calcium">Calcium</option>
                        <option value="iron">Iron</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="display:inline-flex">
            <div id="vis1">
                <p>No Food Added</p>
            </div>
            <div id="vis2" style="float:right">
                <p></p>
            </div>
        </div>

    </main>
    <hr />
    <footer class="container">

    </footer>
    <script>
        var currentData = [];
        //Page load functions
        $(document).ready(function() {
            CurrentFoodTable = $('#CurrentFood').DataTable();
        });

        //Modal to add food
        var foodModal = $('#FoodModal').dialog({
            autoOpen: false,
            width: 1100,
            title: 'Add Food',
            buttons: [{
                    text: "Ok",
                    class: 'saveButton',
                    click: function() {
                        $(this).dialog("close");
                    }
                },
                {
                    text: "Cancel",
                    click: function() {
                        $(this).dialog("close");
                    }
                }
            ]
        });

        //events
        $('#AddFood').on('click', function(event) {
            foodModal.dialog('open');
            AllFoodTable.draw();
            event.preventDefault();
        });

        $('#CurrentFood').on('draw.dt', function() {

            if (CurrentFoodTable != null && CurrentFoodTable.page.info().recordsTotal > 0) {
                console.log(CurrentFoodTable.page.info().recordsTotal);
                scatterplot(CurrentFoodTable.rows().data());
                $('h2').html('Your Tray');
                $('#vis1').html('');
                barChart.draw(CurrentFoodTable.rows().data());
                $('#vis2').html('');
                bubbleChart.draw(CurrentFoodTable.rows().data());
            } else if (jsonData != null) {
                $('div.col-md-10').eq('0').hide();
                scatterplot(jsonData);
                $('h2').html('Explore the Menu');
            }
        });

        $(window).on('resize', function() {
            $('#vis1').html('');
            barChart.draw(CurrentFoodTable.rows().data());
        })

        $('.saveButton').on('click', function(event) {
            var boxes = $('#AllFood input[type="checkbox"]:checked');
            $.each(boxes, function(i) {
                var tr = $(this).closest('tr');
                var temp = AllFoodTable.row(tr).data();
                CurrentFoodTable.row.add(temp);
                $('div.col-md-10').eq('0').show();
            });
            CurrentFoodTable.draw();
        });

        $('#CurrentFood').on('click', '.removeItem', function(event) {
            var tr = $(this).closest('tr');
            CurrentFoodTable.row(tr).remove().draw();
        });

        $('#xLabel').on('change', function() {
            CurrentFoodTable.draw();
        });

        $('#yLabel').on('change', function() {
            CurrentFoodTable.draw();
        });
    </script>
</body>

</html>
